.navbar__container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.navbar {
  display: flex;
  font-weight: 500;
  gap: 12px;
}

.nav__item {
  text-decoration: inherit;
}

.nav__item:hover {
  transition: .3s ease-out;
}
