@import "./main.scss";
@import "./mixins.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // color variables
  --color-black: #0A0A0A;
  // --color-black: #141414;
  --color-dark-grey: #39393A;
  --color-light-grey: #a3a3a3;
  --color-grape: #562EB2;
}

* {
  background-color: var(--color-black);
  color: var(--color-light-grey);
}

#root {
  box-sizing: border-box;
  margin: 0 auto;
  // max-width: 1280px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
