.main__title {
  font-size: 2.4rem;
}

.btn {
  background: var(--color-grape);
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--color-light-grey);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 12px 24px;
}

.btn:hover {
  box-shadow:
  rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
